{:kotoba.app/id "cloud.itonami.isic-5819", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreieq3w7abf44m23cl5xiohvjcy62yqs3wj76auhfgeh7pykubnxlqi", :kotoba.app/embed-url "ipfs://bafkreieq3w7abf44m23cl5xiohvjcy62yqs3wj76auhfgeh7pykubnxlqi", :published {:archive "https://kotobase.net/ipfs/bafkreieq3w7abf44m23cl5xiohvjcy62yqs3wj76auhfgeh7pykubnxlqi", :size 72314, :put-status 201, :get-status 200, :at "2026-08-15T13:53:20.220Z"}}
